@charset "UTF-8";

:root {
    --primary-color-blue: #0d1b2a;
    --second-color-blue: #1b263b;
    --third-color-blue: #415a77;
    --fourth-color-blue: #778da9;
    --fifth-color-blue: #e0e1dd;
    --sixth-color-blue: #49a09d;
    --seventh-color-blue: #004258;
    --eighth-color-blue: #026687;
    --ninth-color-blue: #021c33;
    --tenth-color-blue: #1aa4e5;
    --primary-color-dark: #050505;
    --second-color-dark: #222222;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #111, #222);
    color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 1000px;
    max-width: 90%;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-box {
    display: flex;
    width: 100%;
}

.login-form, .login-logo {
    padding: 40px;
    flex: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #111;
}

.login-form p {
    font-size: 14px;
    margin-bottom: 30px;
    color: #444;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.input-group .icon {
    font-size: 20px;
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    color: #333;
}

button {
    padding: 10px;
    background-color: #fffefe;
    color:#1b263b;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
    font-size: 20px;
}

button:hover {
    background-color: #021c33;
    color: var(--fifth-color-blue);
}

.forgot {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

.login-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-left: 1px solid #ddd;
}

.login-logo img {
    width: 300px;
    margin-bottom: 10px;
}
